.stewdent-bio {
  .bio-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax($main-grid-unit, 1fr));
    grid-gap: 0 1rem;

    grid-auto-rows: calc(#{$main-grid-unit} / 2);

    @media screen and (max-width: $max-width) {
      grid-template-columns: repeat(auto-fit, minmax($main-grid-unit, 1fr));
    }

    @media screen and (max-width: $big-phone) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: $tablet) {
      $unit: calc(#{$main-grid-unit} / 2);
      display: block;

      .gradient {
        height: $unit;
      }

      .headshot {
        height: 0;
        position: relative;
        padding-top: 100%;
        overflow: hidden;
      }

      .email,
      .website {
        height: $unit;
      }

      .bio {
        margin-top: 2rem;

        .headline {
          margin-bottom: 1rem;
        }
      }

      .email .subhead,
      .website .subhead {
        font-size: 1rem;
      }

      .across-the-net {
        margin-top: 1rem;
      }

      .across-the-net-links {
        width: 100%;
        flex-wrap: wrap;
      }

      .across-the-net li:last-child {
        padding-right: 0;
      }
    }
  }

  .gradient {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;

    border: 1px solid var(--black);
    border-bottom: none;
  }

  .headshot {
    grid-column: 1 / span 4;
    grid-row: 3 / span 9;

    border: 1px solid var(--black);
    position: relative;
  }

  .headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .without-mask {
    z-index: 70;
  }

  .with-mask {
    z-index: 20;
  }

  .headshot.mask-time .without-mask {
    display: none;
  }

  .email {
    grid-column: 1 / span 4;
    grid-row: 12 / span 1;
  }

  .website {
    grid-column: 1 / span 4;
    grid-row: 13 / span 1;
  }

  .email,
  .website {
    text-decoration: none;
    border: 1px solid var(--black);
    border-top: none;

    display: flex;
    align-items: center;
    justify-content: center;

    .subhead {
      margin-bottom: 0;
      line-height: 1;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $big-tablet) {
    .gradient,
    .headshot,
    .email,
    .website {
      grid-column: 1 / span 2;
    }
  }

  .field .areas-of-focus {
    margin-bottom: 1.56rem;
  }

  .field .subhead {
    margin-bottom: 0;
  }

  .bio {
    grid-column: 5 / -1;
    grid-row: 3 / span 6;
    justify-self: center;
    width: 100%;
    max-width: 55ch;
  }

  .student-name > svg {
    fill: none;
    stroke: var(--black);
    stroke-width: 3px;
    width: 2rem;
    height: auto;
  }

  .bio-copy {
    max-width: 55ch;
    // padding-top: 5rem;
  }

  .across-the-net {
    grid-column: 5 / -1;
    grid-row: 12 / span 1;
    width: 100%;
    max-width: 55ch;
    justify-self: center;

    display: flex;
    align-items: center;
  }

  .across-the-net li {
    padding-right: 2rem;
  }
}
