#temp-student {
  // do all my normal styling
  .section-info-title {
    padding-right: 0.5rem;
  }

  .headline {
    margin: 0 0 2rem 0;
  }

  .student-info {
    border: 1px solid var(--black);
    padding: 2rem;
  }

  .student-name {
    display: flex;
  }

  .program {
    display: flex;
  }

  .student-focus {
    display: flex;
    margin: 0 0 2rem 0;
  }

  .headshots {
    width: 100%;
    display: flex;
  }

  .headshot {
    border-radius: 50%;
    --radius: 20rem;
    width: var(--radius);
    height: var(--radius);
    overflow: hidden;
    left: calc(var(--radius) / 4 * -1);
    margin: 0 1rem 0 1rem;
  }

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .student-bio {
    margin: 4rem 0 0 0;
  }

  .website {
    display: flex;
    margin: 2rem 0 0 0;
  }

  .across-the-net {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
  }

  .project-grid {
    margin: 5rem 0 0 0;
  }

  .project {
    margin: 0 0 5rem 0;
    border-bottom: 1px solid var(--black);
    padding-bottom: 3rem;
  }

  .featured-image {
    display: flex;
  }

  .project-grid li {
    list-style-type: none;
  }

  .project-grid ul {
    padding: 0;
  }

  .rectangle {
    max-height: 20rem;
    object-fit: cover;
    margin: 0 2rem 0 0;
  }

  .square {
    max-height: 20rem;
    object-fit: cover;
    margin: 2rem 2rem 2rem 0;
  }

  .project-title {
  }

  .project-tags {
    display: flex;
  }

  .tagline {
    display: flex;
  }
}
