#narrative {
  .narrative-text {
    min-height: 100vh;
    z-index: 20;
    position: absolute;
    width: 100%;
    color: var(--white);
    pointer-events: none;
    position: fixed;
  }

  .headline {
    pointer-events: inherit;
  }

  // kerning 🤓
  span[data-word="We"] span[data-char="e"] {
    margin-left: -0.15em;
  }

  .shape-wrap {
    position: relative;
    z-index: 10;
    overflow-x: hidden;
    pointer-events: none;
  }

  .shape-wrap .background {
    height: 200vh;
    $percentage: 85%;
    background-image: linear-gradient(
      var(--black),
      var(--black) $percentage,
      rgba(255, 255, 255, 0) $percentage,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .shape {
    min-width: 100vw;
    height: 0;
    padding-top: 100%;
    // overflow: hidden;
  }

  // this pseudo element covers up the gap between the "background" and the shapes
  // does is slow down the animation tho?
  .shape.animate.black::before {
    content: "";
    position: absolute;
    background: var(--black);
    height: 50%;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    // border: 1px solid var(--peach);
  }

  .shape.animate.black {
    position: relative;
    background: var(--black);
    z-index: 5;
    border-radius: 50%;
  }

  .shape.animate.planet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .headline-wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  #reveal-me {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;

    canvas {
      // opacity: 0.2;
      mix-blend-mode: hard-light;
      // border: 1px solid yellow;
    }
  }

  #our-planets {
    min-height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .planets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }

  .planets .headline {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    z-index: 100;
  }

  .planet {
    grid-column: 1;
    grid-row: 1;
  }

  .big-momma {
    width: 60vh;
    height: 60vh;
  }

  .planet-one {
    width: 20vh;
    height: 20vh;
    right: -95%;
    top: -15%;
  }

  .planet-two {
    width: 30vh;
    height: 30vh;
    right: 50%;
    z-index: -1;
    top: -35%;
  }

  .planet-three {
    width: 35vh;
    height: 35vh;
    z-index: -1;
    right: -40%;
    top: -40%;
  }

  .planet-four {
    width: 25vh;
    height: 25vh;
    left: 50%;
    bottom: -30%;
  }

  .planet-five {
    width: 15vh;
    height: 15vh;
    right: 75%;
    bottom: -20%;
  }
}
