#narrative {
  #our-planets {
    min-height: 100vh;
    margin-top: 250vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  .planets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
  }

  .planets .headline {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    z-index: 100;
    pointer-events: none;
    margin-bottom: 1.5rem;
    font-size: 6vh;
  }

  .planet {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
  }

  .big-momma {
    width: 60vh;
    height: 60vh;
  }

  .planet-one {
    width: 20vh;
    height: 20vh;
    right: 85%;
    top: -50rem;
    z-index: -1;
  }

  .planet-two {
    width: 30vh;
    height: 30vh;
    left: 75%;
    top: -60rem;
    z-index: -1;
  }

  .planet-three {
    width: 35vh;
    height: 35vh;
    left: -35%;
    top: -15rem;
    z-index: -1;
  }

  .planet-four {
    width: 25vh;
    height: 25vh;
    left: 65%;
    top: -15rem;
  }
}
