#narrative {
  #our-planets {
    min-height: 100vh;
    margin-top: 250vh;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  .planets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }

  .planets .headline {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    z-index: 100;
    pointer-events: none;
    margin-bottom: 1.5rem;
    font-size: 6vh;
  }

  .planet {
    grid-column: 1;
    grid-row: 1;
  }

  .big-momma {
    width: 60vh;
    height: 60vh;
  }

  .planet-one {
    width: 20vh;
    height: 20vh;
    right: -95%;
    top: -15%;
  }

  .planet-two {
    width: 30vh;
    height: 30vh;
    right: 50%;
    z-index: -1;
    top: -35%;
  }

  .planet-three {
    width: 35vh;
    height: 35vh;
    z-index: -1;
    right: -40%;
    top: -40%;
  }

  .planet-four {
    width: 25vh;
    height: 25vh;
    left: 50%;
    bottom: -30%;
  }

  .planet-five {
    width: 15vh;
    height: 15vh;
    right: 75%;
    bottom: -20%;
  }
}
