@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * Collapse border spacing in all browsers (opinionated).
  */
table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy="true"] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/**
 * Use the default user interface font in all browsers (opinionated).
 */
html {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**
 * Use the default monospace user interface font in all browsers (opinionated).
 */
code,
kbd,
samp,
pre {
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --tan: #f1ead4;
  --milky-way: var(--tan);
  --peach: #f2c1bd;
  --afterglow: var(--peach);
  --orange: #f08c21;
  --super-nova: var(--orange);
  --orangered: #f1604d;
  --solar-flare: var(--orangered);
  --green: #aeccab;
  --nebula: var(--green);
  --blue: #476da5;
  --dark-matter: var(--blue);
  --black: #000000;
  --white: #ffffff;
  --primary: var(--blue);
  --secondary-01: var(--orange);
  --secondary-02: var(--tan);
  --accent-01: var(--peach);
  --accent-02: var(--orangered);
  --accent-03: var(--green);
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 511px) {
  .container {
    padding: 0 2rem;
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes color-change {
  0% {
    color: var(--primary);
  }
  12% {
    color: var(--accent-01);
  }
  25% {
    color: var(--secondary-02);
  }
  50% {
    color: var(--secondary-01);
  }
  62% {
    color: var(--accent-02);
  }
  75% {
    color: var(--accent-03);
  }
  100% {
    color: var(--primary);
  }
}

@keyframes color-change {
  0% {
    color: var(--primary);
  }
  12% {
    color: var(--accent-01);
  }
  25% {
    color: var(--secondary-02);
  }
  50% {
    color: var(--secondary-01);
  }
  62% {
    color: var(--accent-02);
  }
  75% {
    color: var(--accent-03);
  }
  100% {
    color: var(--primary);
  }
}

@-webkit-keyframes color-change-on-white {
  0% {
    color: var(--primary);
  }
  25% {
    color: var(--accent-01);
  }
  50% {
    color: var(--secondary-01);
  }
  75% {
    color: var(--accent-02);
  }
  100% {
    color: var(--primary);
  }
}

@keyframes color-change-on-white {
  0% {
    color: var(--primary);
  }
  25% {
    color: var(--accent-01);
  }
  50% {
    color: var(--secondary-01);
  }
  75% {
    color: var(--accent-02);
  }
  100% {
    color: var(--primary);
  }
}

@-webkit-keyframes bg-gradient-scroll {
  from {
    background-position: left center;
  }
  to {
    background-position: 400% center;
  }
}

@keyframes bg-gradient-scroll {
  from {
    background-position: left center;
  }
  to {
    background-position: 400% center;
  }
}

@font-face {
  font-family: "Ogg";
  src: url("./fonts/ogg/Ogg-Regular.woff2") format("woff2"), url("./fonts/ogg/Ogg-Regular.woff") format("woff"), url("./fonts/ogg/Ogg-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ogg";
  src: url("./fonts/ogg/Ogg-Light.woff2") format("woff2"), url("./fonts/ogg/Ogg-Light.woff") format("woff"), url("./fonts/ogg/Ogg-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Ogg";
  src: url("./fonts/ogg/Ogg-LightItalic.woff2") format("woff2"), url("./fonts/ogg/Ogg-LightItalic.woff") format("woff"), url("./fonts/ogg/Ogg-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("./fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2"), url("./fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff"), url("./fonts/hk-grotesk/HKGrotesk-Regular.eot") format("eot");
  font-weight: 400;
}

body {
  font-size: 16px;
  font-family: "HK Grotesk", sans-serif;
}

.headline {
  font-family: Ogg, serif;
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 511px) {
  .headline {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 640px) {
  .headline {
    font-size: 4.67rem;
    margin-bottom: 4.67rem;
  }
}

.subhead {
  font-size: 1.56rem;
  margin-bottom: 1.56rem;
  line-height: 1.78rem;
}

.body {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.56rem;
}

.caption {
  font-size: 0.78rem;
  margin-bottom: 0.78rem;
}

.pull-quote {
  font-size: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip: edges;
          text-decoration-skip: edges;
  text-decoration-skip-ink: auto;
  color: var(--black);
}

a:hover {
  background: linear-gradient(140deg, var(--orangered), var(--green) 25%, var(--blue) 50%, var(--peach) 75%, var(--orangered));
  background-size: 400% 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg-gradient-scroll 20s linear infinite;
          animation: bg-gradient-scroll 20s linear infinite;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  margin-right: 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(99px, 1fr))[10];
      grid-template-columns: repeat(10, minmax(99px, 1fr));
  grid-auto-rows: 99px;
  grid-auto-flow: dense;
  grid-gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .grid {
    -ms-grid-columns: (minmax(99px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
    grid-auto-rows: 99px;
  }
}

@media screen and (max-width: 511px) {
  .grid {
    -ms-grid-columns: (minmax(99px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(99px, 1fr));
    grid-auto-rows: 99px;
  }
}

#index .grid {
  margin-bottom: 33vh;
}

.filled-black .glyph {
  fill: var(--black);
  stroke: none;
}

.stroked-black .glyph {
  fill: none;
  stroke: var(--black);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  shape-rendering: crispedges;
}

.filled-white .glyph {
  fill: var(--white);
  stroke: none;
}

.stroked-white .glyph {
  fill: none;
  stroke: var(--white);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  shape-rendering: crispedges;
}

.list-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

.list-reset .glyph-wrap {
  width: 1rem;
  margin-right: 0.5rem;
}

.planet,
.placeholder,
.student {
  position: relative;
}

.planet > *,
.placeholder > *,
.student > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.planet > *:not(.interactive-gradient),
.placeholder > *:not(.interactive-gradient),
.student > *:not(.interactive-gradient) {
  pointer-events: none;
}

.planet .noise,
.placeholder .noise,
.student .noise {
  z-index: 100;
}

.planet .interactive-gradient,
.placeholder .interactive-gradient,
.student .interactive-gradient {
  z-index: 80;
}

.planet .gradient,
.placeholder .gradient,
.student .gradient {
  z-index: 50;
}

.planet .headshot,
.placeholder .headshot,
.student .headshot {
  z-index: 10;
}

.placeholder {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.placeholder.visible {
  opacity: 0;
}

.planet,
.student {
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.noise {
  mix-blend-mode: overlay;
  width: 100%;
  opacity: 0.2;
}

.headshot img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.interactive-gradient {
  background: radial-gradient(var(--orange), var(--blue), var(--orangered));
  border-radius: 50%;
  mix-blend-mode: overlay;
}

.gradient {
  background-size: cover;
  background-position: center;
}

.gradient-01 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-01.png");
}

.gradient-02 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-02.png");
}

.gradient-03 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-03.png");
}

.gradient-04 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-04.png");
}

.gradient-05 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-05.png");
}

.gradient-06 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-06.png");
}

.gradient-07 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-07.png");
}

.gradient-08 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-08.png");
}

.gradient-09 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-09.png");
}

.gradient-10 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-10.png");
}

.gradient-11 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-11.png");
}

.gradient-12 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-12.png");
}

.gradient-13 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-13.png");
}

.gradient-14 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-14.png");
}

.gradient-15 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-15.png");
}

.gradient-16 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-16.png");
}

.gradient-17 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-17.png");
}

.gradient-18 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-18.png");
}

.gradient-19 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-19.png");
}

.gradient-20 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-20.png");
}

.gradient-21 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-21.png");
}

.gradient-22 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-22.png");
}

.gradient-23 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-23.png");
}

.gradient-24 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-24.png");
}

.gradient-25 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-25.png");
}

.gradient-26 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-26.png");
}

.gradient-27 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-27.png");
}

.gradient-28 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-28.png");
}

.gradient-29 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-29.png");
}

.gradient-30 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-30.png");
}

.gradient-31 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-31.png");
}

.gradient-32 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-32.png");
}

.gradient-33 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-33.png");
}

.gradient-34 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-34.png");
}

.gradient-35 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-35.png");
}

.gradient-36 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-36.png");
}

.gradient-37 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-37.png");
}

.gradient-38 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-38.png");
}

.gradient-39 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-39.png");
}

.gradient-40 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-40.png");
}

.gradient-41 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-41.png");
}

.gradient-42 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-42.png");
}

.gradient-43 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-43.png");
}

.gradient-44 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-44.png");
}

.gradient-45 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-45.png");
}

.gradient-46 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-46.png");
}

.gradient-47 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-47.png");
}

.gradient-48 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-48.png");
}

.gradient-49 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-49.png");
}

.gradient-50 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-50.png");
}

.gradient-51 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-51.png");
}

.gradient-52 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-52.png");
}

.gradient-53 {
  background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-53.png");
}

.spin {
  -webkit-animation: spin linear infinite 40s;
          animation: spin linear infinite 40s;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.student > .gradient {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.student:hover .gradient {
  opacity: 0.2;
}

.student:hover .noise {
  mix-blend-mode: screen;
}

.filter {
  margin: 4rem 0;
}

#filter {
  border: 1px dotted tomato;
  width: 100%;
}

.filter-header,
.filter-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
}

.filter-content {
  display: none;
}

#works-students-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filter-dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aof-filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  border: 1px solid green;
}

#aof-filters > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.project-card {
  display: -ms-grid;
  display: grid;
}

.project-card a {
  text-decoration: none;
}

@media screen and (max-width: 511px) {
  .spacer {
    display: none;
  }
}

.project-image {
  position: relative;
}

.project-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-meta {
  grid-column: 1 / -1;
}

.areas-of-focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.areas-of-focus li:not(:last-child)::after {
  content: ",\00a0";
}

.square-small {
  -ms-grid-columns: (minmax(99px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(99px, 1fr));
  -ms-grid-rows: (minmax(99px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(99px, 1fr));
  grid-gap: 1rem;
  grid-column: span 2;
  grid-row: span 3;
}

.square-small > .project-image {
  grid-column: span 2;
  grid-row: span 2;
}

.square-small > .project-meta {
  -ms-grid-row: 3;
  grid-row: 3;
}

.square-medium {
  -ms-grid-columns: (minmax(99px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(99px, 1fr));
  -ms-grid-rows: (minmax(99px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(99px, 1fr));
  grid-gap: 1rem;
  grid-column: span 3;
  grid-row: span 4;
}

.square-medium > .project-image {
  grid-column: span 3;
  grid-row: span 3;
}

.square-medium > .project-meta {
  -ms-grid-row: 4;
  grid-row: 4;
}

.square-large {
  -ms-grid-columns: (minmax(99px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(99px, 1fr));
  -ms-grid-rows: (minmax(99px, 1fr))[5];
      grid-template-rows: repeat(5, minmax(99px, 1fr));
  grid-gap: 1rem;
  grid-column: span 4;
  grid-row: span 5;
}

.square-large > .project-image {
  grid-column: span 4;
  grid-row: span 4;
}

.square-large > .project-meta {
  -ms-grid-row: 5;
  grid-row: 5;
}

@media screen and (max-width: 511px) {
  .square-large {
    -ms-grid-columns: (minmax(99px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(99px, 1fr));
    -ms-grid-rows: (minmax(99px, 1fr))[4];
        grid-template-rows: repeat(4, minmax(99px, 1fr));
    grid-column: span 3;
    grid-row: span 4;
  }
  .square-large > .project-image {
    grid-column: span 3;
    grid-row: span 3;
  }
  .square-large > .project-meta {
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.rectangle-medium {
  -ms-grid-columns: (minmax(99px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(99px, 1fr));
  -ms-grid-rows: (minmax(99px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(99px, 1fr));
  grid-gap: 1rem;
  grid-column: span 3;
  grid-row: span 3;
}

.rectangle-medium > .project-image {
  grid-column: span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.rectangle-medium > .project-meta {
  -ms-grid-row: 3;
  grid-row: 3;
}

.rectangle-large {
  -ms-grid-columns: (minmax(99px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(99px, 1fr));
  -ms-grid-rows: (minmax(99px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(99px, 1fr));
  grid-gap: 1rem;
  grid-column: span 4;
  grid-row: span 4;
}

.rectangle-large > .project-image {
  grid-column: span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.rectangle-large > .project-meta {
  -ms-grid-row: 4;
  grid-row: 4;
}

@media screen and (max-width: 511px) {
  .rectangle-large {
    -ms-grid-columns: (minmax(99px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(99px, 1fr));
    grid-column: span 3;
    grid-row: span 3;
  }
  .rectangle-large > .project-image {
    grid-column: span 3;
    grid-row: span 2;
  }
  .rectangle-large > .project-meta {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

footer {
  background: var(--green);
  padding: 4rem;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#splash {
  background: var(--black);
  color: var(--white);
}

#splash main {
  overflow: hidden;
  position: relative;
}

#splash .not-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  #splash .not-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#splash .planet-wrapper {
  height: calc(80vh + calc(80vh / 2.5 * -1) + 2rem);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 768px) {
  #splash .planet-wrapper {
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  #splash .planet-wrapper {
    left: 0;
    right: unset;
    height: 150vh;
    top: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
    z-index: 0;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  #splash .planet-wrapper {
    height: calc(100vh + calc(100vh / 2.5 * -1) + 2rem);
    -webkit-transform: none;
            transform: none;
    top: 0;
    left: 0;
    right: unset;
  }
}

@media screen and (min-width: 1700px) {
  #splash .planet-wrapper {
    right: 0;
    height: 150vh;
    top: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
    z-index: 0;
  }
}

#splash .text-block-wrapper {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 768px) {
  #splash .text-block-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #splash .text-block-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  #splash .text-block-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1700px) {
  #splash .text-block-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
}

#splash .da-countdown {
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  #splash .da-countdown {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    position: fixed;
    right: 0;
  }
}

#splash .planet-large {
  width: 80vh;
  height: 80vh;
  left: calc(80vh / 2.5 * -1);
  top: calc(80vh / 2.5 * -1);
}

@media screen and (min-width: 1200px) {
  #splash .planet-large {
    width: 150vh;
    height: 150vh;
    left: 0;
    top: 0;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  #splash .planet-large {
    width: 100vh;
    height: 100vh;
    left: calc(100vh / 2.5 * -1);
    top: calc(100vh / 2.5 * -1);
  }
}

@media screen and (min-width: 1700px) {
  #splash .planet-large {
    width: 150vh;
    height: 150vh;
    left: 4rem;
    top: 0;
  }
}

#splash .time-segment {
  text-align: right;
}

@media screen and (min-width: 768px) {
  #splash .time-segment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 85%;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
}

@media screen and (min-width: 834px) {
  #splash .time-segment {
    -webkit-transform: translateX(2.25rem);
            transform: translateX(2.25rem);
  }
}

@media screen and (min-width: 1000px) {
  #splash .time-segment {
    -webkit-transform: translateX(0.75rem);
            transform: translateX(0.75rem);
  }
}

@media screen and (min-width: 1200px) {
  #splash .time-segment {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#splash .time-segment:nth-child(3) {
  margin-right: -0.5em;
}

@media screen and (min-width: 375px) {
  #splash .time-segment:nth-child(3) {
    margin-right: -1.5em;
  }
}

@media screen and (min-width: 768px) {
  #splash .time-segment:nth-child(3) {
    margin-right: 0;
  }
}

#splash .time-segment:last-child {
  width: 22%;
}

@media screen and (min-width: 375px) {
  #splash .time-segment:last-child {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  #splash .time-segment:last-child {
    width: 85%;
  }
}

#splash .number {
  font-family: Ogg, serif;
  font-size: 15vw;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  #splash .number {
    text-align: right;
    width: 50%;
  }
}

@media screen and (min-width: 820px) {
  #splash .number {
    font-size: calc(4.67rem * 2);
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  #splash .unit {
    margin-left: 1em;
  }
}

#splash .text-block {
  border: 1px solid var(--white);
  margin-bottom: 1rem;
  max-width: 45ch;
}

@media screen and (min-width: 375px) {
  #splash .text-block {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  #splash .text-block {
    max-width: unset;
    margin-top: calc(80vh + calc(80vh / 2.5 * -1) + 4rem);
  }
}

@media screen and (min-width: 1200px) {
  #splash .text-block {
    margin: 0;
    background: var(--black);
    z-index: 100;
  }
}

@media screen and (min-width: 1200px) and (max-height: 850px) {
  #splash .text-block {
    max-width: 55ch;
  }
}

#splash .text-block .top,
#splash .text-block .mid,
#splash .text-block .bot {
  padding: 2rem;
}

#splash .text-block .top,
#splash .text-block .mid {
  border-bottom: 1px solid var(--white);
}

@media screen and (min-width: 1000px) {
  #splash .text-block .mid {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

#splash .headline {
  display: none;
}

#splash .logo-stacked {
  margin: 0.5rem 0;
}

@media screen and (min-width: 1000px) {
  #splash .logo-stacked {
    margin: 2rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #splash .logo-stacked {
    max-width: 75%;
    margin: 0 auto;
  }
}

#splash .logo-emblem {
  max-width: 2rem;
  margin: 0 auto;
}

#splash .subhead {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.56rem;
}

@media screen and (min-width: 1000px) {
  #splash .subhead {
    font-size: 1.56rem;
    margin-bottom: 1.56rem;
    line-height: 1.78rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 850px) {
  #splash .subhead {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.56rem;
    margin-top: -0.5em;
    margin-bottom: 2rem;
  }
}

#splash .mailchimp {
  margin-top: 4rem;
}

@media screen and (min-width: 1200px) {
  #splash .mailchimp {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 850px) {
  #splash .mailchimp .optional {
    display: none;
  }
}

#splash .mailchimp p:not(.caption) {
  margin-bottom: 1rem;
}

#splash .mailchimp .beep-boop {
  margin-bottom: 0.25em;
  color: var(--accent-02);
  -webkit-animation: color-change 20s ease-in-out infinite;
          animation: color-change 20s ease-in-out infinite;
}

@media screen and (min-width: 1000px) {
  #splash .bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 !important;
  }
}

#splash .scca-on-the-net {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  #splash .scca-on-the-net {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  #splash .scca-on-the-net li {
    margin-right: 1rem;
  }
}

#splash .scca-on-the-net .logo-emblem {
  margin-top: 0.25em;
}

@media screen and (min-width: 1000px) {
  #splash .scca-on-the-net .logo-emblem {
    display: none;
  }
}

#splash .hide-me {
  display: none;
}

@media screen and (min-width: 1000px) {
  #splash .hide-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid var(--white);
  }
}

#splash .hide-me .logo-emblem {
  margin: 0 1.75rem;
  width: 4rem;
}

#splash a {
  color: var(--white);
}

.mailchimp label span {
  opacity: 0.5;
}

.mailchimp .mc-field-group,
.mailchimp .clear {
  margin-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .mailchimp .mc-field-group,
  .mailchimp .clear {
    margin-top: 0;
  }
}

.mailchimp input[type="text"],
.mailchimp input[type="email"],
.mailchimp input[type="submit"] {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0.5em 0.5em;
  font-size: 1rem;
  margin-top: 0.25em;
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 0;
}

.mailchimp input[type="submit"] {
  background: none;
  padding: calc(0.75rem + 1.5px) 0.5rem;
  cursor: pointer;
  font-size: 0.78rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 1rem;
  background-color: var(--black);
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.mailchimp input[type="submit"]:hover {
  color: var(--black);
  background-color: var(--white);
}

.mailchimp #mc_embed_signup input.mce_inline_error {
  border-color: var(--orangered);
}

.mailchimp #mc_embed_signup div.mce_inline_error {
  background: var(--orangered);
  font-size: 0.78rem;
}

@media screen and (min-width: 1140px) {
  .mailchimp #mc_embed_signup_scroll {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mailchimp #mc_embed_signup_scroll .mc-field-group {
    margin-right: 1rem;
  }
  .mailchimp #mc_embed_signup_scroll .mc-field-group:nth-child(1) {
    width: 35%;
  }
  .mailchimp #mc_embed_signup_scroll .clear {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .mailchimp #mc_embed_signup_scroll #mc-embedded-subscribe {
    padding: calc(1.5rem - 14px);
  }
  .mailchimp #mc_embed_signup_scroll #mce-responses {
    position: absolute;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

#narrative .narrative {
  background: #000;
  color: #fff;
  height: 200vh;
  pointer-events: none;
}

#narrative .headline {
  font-family: Ogg, serif;
  font-size: 3rem;
  line-height: 1.2;
}

@media screen and (min-width: 511px) {
  #narrative .headline {
    font-size: 4rem;
  }
}

@media screen and (min-width: 640px) {
  #narrative .headline {
    font-size: 4.67rem;
  }
}

#narrative .headline .char {
  opacity: 0;
}

#narrative span[data-word="We"] span[data-char="e"] {
  margin-left: -0.15em;
}

#narrative .headline-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

#narrative .headline-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#narrative .shape-wrap {
  margin-top: -100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  border: 1px solid green;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#narrative .vh-spacer {
  height: 100vh;
  border: 1px solid red;
  z-index: -2;
  pointer-events: none;
}

#narrative .shape {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  min-width: 100vw;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 0 0 50% 50%;
  pointer-events: none;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#narrative .shape:nth-child(1) {
  background: #000;
}

#narrative .shape:nth-child(2) {
  z-index: -1;
}

#narrative #our-planets {
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#narrative .planets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#narrative .planets .headline {
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 100;
}

#narrative .planet {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#narrative .big-momma {
  width: 60vh;
  height: 60vh;
}

#narrative .planet-one {
  width: 20vh;
  height: 20vh;
  right: -95%;
  top: -15%;
}

#narrative .planet-two {
  width: 30vh;
  height: 30vh;
  right: 50%;
  z-index: -1;
  top: -35%;
}

#narrative .planet-three {
  width: 35vh;
  height: 35vh;
  z-index: -1;
  right: -40%;
  top: -40%;
}

#narrative .planet-four {
  width: 25vh;
  height: 25vh;
  left: 50%;
  bottom: -30%;
}

#narrative .planet-five {
  width: 15vh;
  height: 15vh;
  right: 75%;
  bottom: -20%;
}

#student-page .biosection {
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  grid-auto-rows: unset;
  padding: 4rem 0;
}

#student-page .studentimg img {
  border-radius: 50%;
  --radius: 20rem;
  width: var(--radius);
  height: var(--radius);
  overflow: hidden;
  position: relative;
  left: calc(var(--radius) / 4 * -1);
}

#student-page .studentimg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  grid-column: span 3;
}

#student-page img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#student-page .social {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#student-page .scca-on-the-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#student-page .bio p {
  max-width: 55ch;
}

#student-page .bio {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#student-page .studentname {
  padding: 1rem;
}

.project-image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-grid-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding: 4rem 4rem 4rem 0rem;
}

.project-grid-image {
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.project-grid-image img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.5rem;
}

​ .project-grid-title {
  padding-bottom: 1.5rem;
}

​ .project-grid-body {
  max-width: 50ch;
}
/*# sourceMappingURL=style.css.map */