.project-image-grid {
  display: flex;
  align-items: center;
}
.project-grid-text {
  display: flex;
  width: 50vw;
  padding: 4rem 4rem 4rem 0rem;
}
.project-grid-image {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.project-grid-image img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  padding: 0.5rem;
}
​ .project-grid-title {
  padding-bottom: 1.5rem;
}
​ .project-grid-body {
  max-width: 50ch;
}
