.projects .entry-footer {
  a {
    text-decoration: none;
  }

  .explore-more {
    padding: 4rem 0;
  }

  .entry-footer-bottom {
    background: var(--black);
    padding: 4rem 0;
    padding-bottom: 15rem;
    color: var(--white);

    .project-name {
      font-weight: 300;
    }
  }

  .similar-projects.grid {
    .square-small {
      display: grid;
    }

    .project-image {
      border: 1px solid var(--white);
      grid-column: span 2;
      grid-row: span 2;
    }

    .project-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .project-meta {
      color: var(--white);
      border: 1px solid var(--white);
      border-top: none;
      // height: 100%;
      grid-column: span 2;
      padding: 1rem;
    }
  }
}
