.projects {
  .entry-content {
    margin-bottom: 10vh;
  }

  .flexible-section:first-of-type {
    margin-top: 4rem;
  }

  .flexible-section {
    padding: 2rem 0;
  }

  .column:nth-of-type(1) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $tablet) {
    .flexible-section {
      padding: 4rem 0;
    }

    .row {
      display: flex;
    }

    $flexible-content-margin: 4rem;
    .column {
      width: calc(50% - #{$flexible-content-margin}/ 2);
      margin-bottom: 0;
    }

    // this will need to be revisited after "flip-order" class is applied
    .column:nth-of-type(1) {
      margin-right: $flexible-content-margin;
    }

    .column > div {
      height: 100%;
    }

    .row.flip-order .column:nth-of-type(1) {
      order: 2;
      margin-right: 0;
    }

    .row.flip-order .column:nth-of-type(2) {
      order: 1;
      margin-right: $flexible-content-margin;
    }
  }

  .full-width-wrap {
    display: flex;
    justify-content: center;
  }

  .full-width-wrap > div {
    width: 100%;
  }

  .text-wrap {
    max-width: 55ch;
  }

  .column .text {
    display: flex;
    align-items: center;
  }

  .gallery-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);

    @media screen and (min-width: $big-phone) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }

  .gallery-image {
    grid-column: span 1;
    grid-row: span 1;
    padding-top: 100%;
  }

  .solo-image {
    padding-top: 75%;
  }

  .gallery-image,
  .solo-image {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
  }

  .gallery-image:hover,
  .solo-image:hover {
    cursor: zoom-in;
  }

  .solo-image img,
  .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .solo-image:hover::after,
  .gallery-image:hover::after {
    content: "Click to expand";
    display: block;
    position: absolute;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    background: var(--white);
    // opacity: 0.5;
    border: 1px solid var(--black);
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .pull-quote {
    font-size: 3rem;
  }
}
