#loading-container {
  position: relative;
}

#loading {
  display: flex;
  position: absolute;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100%;
  background: var(--white);

  justify-content: center;
  z-index: 500;
}

#filter {
  width: 100%;
  margin-bottom: 4rem;
}

.filter-header,
.filter-content-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.filter-header {
  padding-top: 0;
}

.filter-content {
  display: none;
}

// toggle
#works-students-toggle {
  display: flex;
}

#filter-dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#filter-dropdown-toggle:hover .chevron {
  opacity: 1;
}

.chevron {
  width: 2rem;
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
  transition: opacity 0.4s ease;

  .glyph {
    width: 1rem;
    transition: transform 0.4s ease;
  }

  &.up .glyph {
    transform: rotate(-180deg);
  }
}

.filter-content-header {
  border: 1px solid var(--black);
  border-bottom: none;
  padding: 1rem 2rem;
}

.sub-filters {
  padding: 2rem;
}

.sub-filters:nth-child(1) {
  border-right: 1px solid var(--black);
}

.sub-filters .the-filters {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.sub-filters:nth-child(1) .the-filters {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sub-filters:nth-child(2) .the-filters {
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  // grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

#aof-filters {
  width: 100%;
  display: flex;
  border: 1px solid var(--black);

  .filter-item {
    flex: 0 0 20%;
    padding: 0.25em 0;
    margin: 0.25em 0;

    > label {
      opacity: 0.5;
      transition: opacity 0.3s ease;
      // font-weight: 300;
      .glyph {
        opacity: 0.25;
      }
    }

    > input:checked + label {
      opacity: 1;
      // font-weight: 400;
      .glyph {
        opacity: 1;
      }
    }
  }

  .filter-item input {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .filter-item,
  label {
    display: flex;
  }

  label .glyph {
    width: 1rem;
    margin-top: -0.0625em;
    margin-right: 0.5em;
  }
}

.toggle-option {
  cursor: pointer;
  position: relative;
}

.toggle-option > input {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  width: 100%;
}

.toggle-divider {
  display: inline-block;
  position: relative;
  top: -0.25em;
  font-size: 1.56rem;
  font-weight: 300;
  opacity: 0.5;
  margin: 0 0.25em;
}

input#works-toggle,
input#students-toggle {
  appearance: none;
  width: 0.1%;
  opacity: 0;
  height: 1px;
  background: #000;
  margin: 0;
  transition: width 0.4s ease;
  will-change: width;

  + label {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin-bottom: 0;
  }
}

input#works-toggle:checked,
input#students-toggle:checked {
  transition: width 1s ease;
  opacity: 1;
  color: var(--blue);
  width: 100%;
  + label {
    opacity: 1;
    font-weight: 400;
  }
}

label,
#filter-heading {
  cursor: pointer;
}

#filter-active {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filter-active-glyph {
  margin-right: 0.75rem;
  display: flex;
}

#filter-active-glyph > div {
  display: none;

  width: 1rem;
  margin-right: 0.5rem;
  margin-top: -0.25em;
}

// get list of all parent cats
$cats: "advertising", "ar-vr", "art-direction", "branding", "illustration",
  "motion", "packaging", "portraiture", "post-production", "type-layout",
  "ui-ux", "video", "visual-design", "web-design", "fine-art-photography",
  "editorial-photography", "retail-photography", "experiential-design";
@each $cat in $cats {
  #filter-active-glyph.#{$cat} > .#{$cat} {
    display: block;
  }
}

@media screen and (max-width: $big-phone) {
  .filter-header {
    flex-direction: column;
    align-items: start;
  }

  #filter-dropdown-toggle {
    margin-top: 0.5rem;
  }

  #filter-active-glyph {
    order: 3;
  }

  #filter-active {
    display: none;
  }

  #aof-filters {
    flex-direction: column;
  }

  .sub-filters:nth-child(1) {
    border: none;
    border-bottom: 1px solid var(--black);
  }

  .sub-filters .the-filters {
    display: block;
  }

  .filter-item {
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 1000px) {
  .sub-filters {
    flex: 1;
  }
  .sub-filters .the-filters {
    display: block;
  }
}
