// sticky footer
#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

#page,
body {
  overflow-x: hidden;
}

.site-footer {
  background: var(--black);
  color: var(--white);
  padding: 4rem 0;
  // border-top: 1px solid var(--white);
}

.site-footer .container {
  position: relative;
}

.site-footer {
  .footer-wrap {
    display: flex;
  }

  $footer-flex-margin: 4rem;
  .stats,
  .footer-left {
    width: calc(50% - #{$footer-flex-margin}/ 2);
    z-index: 100;
  }

  .footer-left {
    margin-right: $footer-flex-margin;
  }

  .footer-text p {
    max-width: 50ch;
  }

  .graph {
    margin-top: 4rem;
    height: 20rem;
    border: 1px solid var(--white);
  }

  .stats {
    align-self: end;
    border: 1px solid var(--white);
    z-index: 10;
    background: var(--black);
  }

  .stat-row-wrap {
    display: flex;
    border-bottom: 1px solid var(--white);
  }

  .stat-row-wrap > div {
    padding: 2rem;
  }

  .stat-num {
    flex: 0 0 9rem;
    margin-bottom: 0;
    border-right: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stat-text {
    flex: 1 1 75%;
    position: relative;
    display: flex;
    align-items: center;
  }

  .stat-text::before {
    content: "";
    position: absolute;
    height: 1rem;
    left: -1px;
    bottom: -1rem;
    border-left: 1px solid var(--white);
    z-index: 100;
  }

  .stat-progress {
    height: 1rem;
    border-bottom: 1px solid var(--white);
    overflow: hidden;
    position: relative;
  }

  .stat-progress > * {
    position: absolute;
    top: 0;
    left: 0;
  }

  .stat-progress .bar {
    right: 0;
    left: 0%;
    background: var(--black);
    height: 100%;
    z-index: 90;
  }

  .stat-row:last-child .stat-progress {
    border-bottom: none;
  }

  .stat-progress .gradient {
    width: 100%;
    height: 100%;
  }

  .rando-proj {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin-bottom: 0;
    position: relative;

    span {
      z-index: 100;
      text-align: center;
    }

    .stat-progress {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: opacity 1s ease;
    }

    &:hover .stat-progress {
      opacity: 1;
    }
  }

  $footer-planet-radius: 50rem;
  $tall-footer-planet-radius: 80rem;
  $footer-planet-offset: calc(#{$footer-planet-radius} / 2.5 * -1);
  $footer-planet-tall-offset: calc(#{$tall-footer-planet-radius} / 2.5 * -1);

  .planet-wrapper {
    position: absolute;
    right: $footer-planet-offset;
    top: calc(#{$footer-planet-radius} / 2.5 * -1);
    z-index: 1;
  }

  .planet-large {
    width: $footer-planet-radius;
    height: $footer-planet-radius;
  }

  .footer-wrap {
    margin-top: calc(#{$footer-planet-radius} / 6);
  }

  .footer-footer {
    padding-top: 4rem;
    position: relative;

    .conatiner {
      z-index: 50;
    }

    .ticker {
      height: 1.28541875rem;
      width: 100%;
      position: absolute;
      top: 4.85rem;
      width: 1500px; /* The image width times 3 */
      background: url("./images/glyph-scroll.svg") repeat-x;
      animation: tickerScroll 50s linear infinite;
      z-index: 0;
    }

    @keyframes tickerScroll {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-500px, 0, 0); /* The image width */
      }
    }
    .scca-bits {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .logo {
      height: 3rem;
      width: auto;
      background: var(--black);
      position: relative;
    }
    .logo::before {
      content: "";
      display: block;
      position: absolute;
      left: -2rem;
      width: 2rem;
      top: 0;
      height: 100%;
      background: var(--black);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 75%
      );
    }
    .logo::after {
      content: "";
      display: block;
      position: absolute;
      right: -50vw;
      width: 50vw;
      top: 0;
      height: 100%;
      background: var(--black);
    }
    .glyph {
      fill: var(--white);
    }
    .scca-on-the-net {
      margin-top: 1rem;
    }
    .scca-on-the-net a {
      color: var(--white);
    }
    .scca-on-the-net li:not(:last-child) {
      margin-right: 1rem;
    }
  }

  @media screen and (max-width: $tablet) {
    .ticker {
      display: none;
    }

    .footer-wrap {
      flex-direction: column;
    }

    .stats,
    .footer-left {
      width: 100%;
      margin: 0;
    }

    .footer-left {
      margin-top: 15rem;
      margin-bottom: 2rem;
    }

    .footer-footer .logo {
      max-width: 100%;
      height: auto;
    }
  }
}
