// layer size and positioning
.planet,
.placeholder,
.student {
  position: relative;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > *:not(.interactive-gradient) {
    pointer-events: none;
  }

  .noise {
    z-index: 100;
  }
  .interactive-gradient {
    z-index: 80;
  }
  .gradient {
    z-index: 50;
  }
  .headshot {
    z-index: 10;
  }
}

// placeholder settings
.placeholder {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  transition: opacity 2s ease;
}

.placeholder.visible {
  opacity: 0;
}

// planet/student border-radius + clipping
.planet,
.student {
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black); // for Safari 😡
}

// canvas noise blend settings
.noise {
  mix-blend-mode: overlay;
  width: 100%;
  opacity: 0.2;
}

// headshot layer settings
.headshot {
  // mix-blend-mode: overlay;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// interactive-gradient layer settings
.interactive-gradient {
  background: radial-gradient(var(--orange), var(--blue), var(--orangered));
  border-radius: 50%;
  mix-blend-mode: overlay;
}

// brand gradient layer settings
.gradient {
  background-size: cover;
  background-position: center;
}

@for $i from 1 through 53 {
  @if $i < 10 {
    .gradient-0#{$i} {
      background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-0#{$i}.png");
    }
  } @else {
    .gradient-#{$i} {
      background-image: url("https://res.cloudinary.com/fartinmartin/image/upload/v1589069278/Portshowlio/gradient-#{$i}.png");
    }
  }
}

// spin class 😂
.spin {
  animation: spin linear infinite 40s;
}

// could set spin animation delay and speed randomly for each instance on a page... 🤔

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// student hover specifics
.student {
  > .gradient {
    transition: opacity 0.4s ease;
  }

  &:hover {
    .gradient {
      opacity: 0.2;
    }
    .noise {
      mix-blend-mode: screen;
    }
  }
}
