.search-query {
  color: var(--blue);
}

.student-results .title,
.work-results .title {
  margin-bottom: 2rem;
}

.student-results {
  margin-bottom: 6rem;
}

.search .grid {
  margin-bottom: 0;
}

.search .results {
  margin-bottom: 33vh;
}
