.search-query {
  color: var(--blue);
}

.student-results .title,
.work-results .title {
  margin-bottom: 2rem;
}

.student-results {
  margin-bottom: 6rem;
}

.search .grid {
  margin-bottom: 0;
}

.search .results {
  margin-bottom: 33vh;
}

.search-result-heading:hover .chevron {
  opacity: 1;
}

.search-result-heading {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-weight: 400;
}
