.project-card {
  display: grid;

  a {
    text-decoration: none;
  }
}

$colors: var(--blue), var(--orange), var(--tan), var(--peach), var(--orangered),
  var(--green);
$repeat: 159; // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
  .project-card:nth-child(#{$i}) img {
    background: nth($colors, random(length($colors)));
  }
}

@media screen and (max-width: 511px) {
  .spacer {
    display: none;
  }
}

.project-image {
  position: relative;
}

.project-image img {
  height: 100%;
  object-fit: cover;
}

.project-meta {
  grid-column: 1 / -1;
}

.areas-of-focus {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.areas-of-focus li:not(:last-child)::after {
  content: ",\00a0";
}

@import "./square-small";
@import "./square-medium";
@import "./square-large";
@import "./rectangle-medium";
@import "./rectangle-large";
