a.project-card {
  display: grid;

  // a {
  text-decoration: none;
  // }

  // need to make whole div an a i think
  &:hover .project-image,
  &:hover .project-meta {
    animation: border-color-change linear infinite 10s;
  }
}

$colors: var(--blue), var(--orange), var(--tan), var(--peach), var(--orangered),
  var(--green);
$repeat: 159; // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
  .project-card:nth-child(#{$i}) img {
    background: nth($colors, random(length($colors)));
  }
}

@media screen and (max-width: 511px) {
  .spacer {
    display: none;
  }
}

.page {
  .project-image {
    position: relative;
    border: 1px solid var(--black);
  }

  .project-image img {
    height: 100%;
    object-fit: cover;
  }

  .project-meta {
    grid-column: 1 / -1;
    margin-top: -1rem;
    border: 1px solid var(--black);
    border-top: none;
    align-self: start;
    padding: 1rem;
  }
}

.areas-of-focus {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.areas-of-focus li:not(:last-child)::after {
  content: ",\00a0";
}

@import "./square-small";
@import "./square-medium";
@import "./square-large";
@import "./rectangle-medium";
@import "./rectangle-large";
