$rectangle-large-col: 4;
$rectangle-large-row: 5;

.rectangle-large {
  grid-template-columns: repeat(
    $rectangle-large-col,
    minmax($main-grid-unit, 1fr)
  );
  grid-template-rows: repeat(
    $rectangle-large-row,
    minmax($main-grid-unit, 1fr)
  );
  grid-gap: 0 1rem;
  grid-column: span $rectangle-large-col;
  grid-row: span $rectangle-large-row;
}

.project-card-link.rectangle-large {
  grid-row: unset;

  .project-image {
    grid-column: span $rectangle-large-col;
    grid-row: 1 / #{$rectangle-large-col};
  }

  .project-meta {
    grid-row: $rectangle-large-row - 1;
  }
}
