$square-medium-col: 3;
$square-medium-row: 5;

.square-medium {
  grid-template-columns: repeat(
    $square-medium-col,
    minmax($main-grid-unit, 1fr)
  );
  grid-template-rows: repeat($square-medium-row, minmax($main-grid-unit, 1fr));
  grid-gap: 0 1rem;
  grid-column: span $square-medium-col;
  grid-row: span $square-medium-row;
}

.project-card-link.square-medium {
  grid-row: unset;

  .project-image {
    grid-column: span $square-medium-col;
    grid-row: span $square-medium-col;
  }

  .project-meta {
    grid-row: $square-medium-row - 1;
  }
}
