$square-small-col: 2;
$square-small-row: 3;

.square-small {
  grid-template-columns: repeat(
    $square-small-col,
    minmax($main-grid-unit, 1fr)
  );
  grid-template-rows: repeat($square-small-row, minmax($main-grid-unit, 1fr));
  grid-gap: 1rem;
  grid-column: span $square-small-col;
  grid-row: span $square-small-row;

  > .project-image {
    grid-column: span $square-small-col;
    grid-row: span $square-small-col;
  }

  > .project-meta {
    grid-row: $square-small-row;
  }
}
