$square-large-col: 4;
$square-large-row: 6;

.square-large {
  grid-template-columns: repeat(
    $square-large-col,
    minmax($main-grid-unit, 1fr)
  );
  grid-template-rows: repeat($square-large-row, minmax($main-grid-unit, 1fr));
  grid-gap: 0 1rem;
  grid-column: span $square-large-col;
  grid-row: span $square-large-row;
}

.project-card-link.square-large {
  grid-row: unset;

  .project-image {
    grid-column: span $square-large-col;
    grid-row: span $square-large-col;
  }

  .project-meta {
    grid-column: span $square-large-col;
    grid-row: $square-large-row - 1;
  }
}
