:root {
  --tan: #f1ead4;
  --milky-way: var(--tan);
  --peach: #f2c1bd;
  --afterglow: var(--peach);
  --orange: #f08c21;
  --super-nova: var(--orange);
  --orangered: #f1604d;
  --solar-flare: var(--orangered);
  --green: #aeccab;
  --nebula: var(--green);
  --blue: #476da5;
  --dark-matter: var(--blue);

  --black: #000000;
  --white: #ffffff;

  --primary: var(--blue);
  --secondary-01: var(--orange);
  --secondary-02: var(--tan);
  --accent-01: var(--peach);
  --accent-02: var(--orangered);
  --accent-03: var(--green);
}

$max-width: 1200px;
$site-padding: 2rem;

$phone: 375px;
$big-phone: 511px;
$tablet: 768px;
$big-tablet: 1000px;
$laptop: 1200px;
$tall: 1000px;
$big-boi: 1700px;

img {
  width: 100%;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: $phone) {
    padding: 0 2rem;
  }
  @media screen and (min-width: $big-phone) {
    padding: 0 $site-padding;
  }
}
.error404 main,
.search main,
.author main,
.single-projects main,
.page-id-372 main {
  margin-top: 8rem;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@keyframes color-change {
  0% {
    color: var(--primary);
  }
  12% {
    color: var(--accent-01);
  }
  25% {
    color: var(--secondary-02);
  }
  50% {
    color: var(--secondary-01);
  }
  62% {
    color: var(--accent-02);
  }
  75% {
    color: var(--accent-03);
  }
  100% {
    color: var(--primary);
  }
}

@keyframes border-color-change {
  0% {
    border-color: var(--primary);
  }
  12% {
    border-color: var(--accent-01);
  }
  25% {
    border-color: var(--secondary-02);
  }
  50% {
    border-color: var(--secondary-01);
  }
  62% {
    border-color: var(--accent-02);
  }
  75% {
    border-color: var(--accent-03);
  }
  100% {
    border-color: var(--primary);
  }
}

@keyframes color-change-on-white {
  0% {
    color: var(--primary);
  }
  25% {
    color: var(--accent-01);
  }
  50% {
    color: var(--secondary-01);
  }
  75% {
    color: var(--accent-02);
  }
  100% {
    color: var(--primary);
  }
}

@keyframes bg-gradient-scroll {
  from {
    background-position: left center;
  }
  to {
    background-position: 400% center; // 🚨 % is based on background-size of el!!
  }
}
