$radius: 80vh;
$laptop-radius: 150vh;
$tall-radius: 100vh;
$offset: calc(#{$radius} / 2.5 * -1);
$tall-offset: calc(#{$tall-radius} / 2.5 * -1);

#splash {
  background: var(--black);
  color: var(--white);
}

#splash {
  main {
    overflow: hidden;
    position: relative;
  }

  .not-grid {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  // first-children
  .planet-wrapper {
    height: calc(#{$radius} + #{$offset} + 2rem);
    order: 1;

    @media screen and (min-width: $tablet) {
      position: absolute;
    }

    @media screen and (min-width: $laptop) {
      left: 0;
      right: unset;
      height: $laptop-radius;
      top: 50%;
      transform: translateX(50%) translateY(-50%);
      z-index: 0;
    }

    @media screen and (min-width: $laptop) and (min-height: $tall) {
      height: calc(#{$tall-radius} + #{$tall-offset} + 2rem);
      transform: none;
      top: 0;
      left: 0;
      right: unset;
    }

    @media screen and (min-width: $big-boi) {
      right: 0;
      height: $laptop-radius;
      top: 50%;
      transform: translateX(50%) translateY(-50%);
      z-index: 0;
    }
  }

  .text-block-wrapper {
    order: 3;

    @media screen and (min-width: $tablet) {
      order: 2;
      width: 50%;
    }

    @media screen and (min-width: $laptop) {
      height: 100vh;
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: $laptop) and (min-height: $tall) {
      align-items: flex-end;
      padding-bottom: 4rem;
    }

    @media screen and (min-width: $big-boi) {
      height: 100vh;
      display: flex;
      align-items: center;
    }
  }

  .da-countdown {
    pointer-events: none;
    order: 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media screen and (min-width: $tablet) {
      order: 3;
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      position: fixed;
      right: 0;
    }
  }

  // second children
  .planet-large {
    width: $radius;
    height: $radius;
    left: $offset;
    top: $offset;

    @media screen and (min-width: $laptop) {
      width: $laptop-radius;
      height: $laptop-radius;
      // max-height: 100vw;
      // max-width: 100vw;
      left: 0;
      top: 0;
    }

    @media screen and (min-width: $laptop) and (min-height: $tall) {
      width: $tall-radius;
      height: $tall-radius;
      left: $tall-offset;
      top: $tall-offset;
    }

    @media screen and (min-width: $big-boi) {
      width: $laptop-radius;
      height: $laptop-radius;
      // max-height: 100vw;
      // max-width: 100vw;
      left: 4rem;
      top: 0;
    }
  }

  .time-segment {
    text-align: right;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
      width: 85%;
      transform: translateX(3rem);
    }

    @media screen and (min-width: 834px) {
      transform: translateX(2.25rem);
    }

    @media screen and (min-width: $big-tablet) {
      transform: translateX(0.75rem);
    }

    @media screen and (min-width: $laptop) {
      transform: translateX(0);
    }

    // optically align .time-segments
    &:nth-child(3) {
      margin-right: -0.5em;

      @media screen and (min-width: $phone) {
        margin-right: -1.5em;
      }

      @media screen and (min-width: $tablet) {
        margin-right: 0;
      }
    }

    &:last-child {
      width: 22%;

      @media screen and (min-width: $phone) {
        width: 25%;
      }

      @media screen and (min-width: $tablet) {
        width: 85%;
      }
    }
  }

  .number {
    font-family: Ogg, serif;
    font-size: 15vw;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      text-align: right;
      width: 50%;
    }

    @media screen and (min-width: 820px) {
      font-size: calc(4.67rem * 2);
      width: 60%;
    }
  }

  .unit {
    @media screen and (min-width: $tablet) {
      margin-left: 1em;
    }
  }

  .text-block {
    border: 1px solid var(--white);
    margin-bottom: 1rem;

    max-width: 45ch;

    @media screen and (min-width: $phone) {
      margin-bottom: 2rem;
    }

    @media screen and (min-width: $tablet) {
      max-width: unset;
      margin-top: calc(#{$radius} + #{$offset} + 4rem);
    }

    @media screen and (min-width: $laptop) {
      margin: 0;
      background: var(--black);
      z-index: 100;
    }

    @media screen and (min-width: $laptop) and (max-height: 850px) {
      max-width: 55ch;
    }

    .top,
    .mid,
    .bot {
      padding: 2rem;
    }

    .top,
    .mid {
      border-bottom: 1px solid var(--white);
    }

    .mid {
      @media screen and (min-width: $big-tablet) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    }
  }

  .headline {
    display: none;
  }

  .logo-stacked {
    margin: 0.5rem 0;

    @media screen and (min-width: $big-tablet) {
      margin: 2rem 1.5rem;
    }

    @media screen and (min-width: $laptop) {
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .logo-emblem {
    max-width: 2rem;
    margin: 0 auto;
  }

  .subhead {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.56rem;

    @media screen and (min-width: $big-tablet) {
      font-size: 1.56rem;
      margin-bottom: 1.56rem;
      line-height: 1.78rem;
    }

    @media screen and (min-width: $laptop) and (max-height: 850px) {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.56rem;
      margin-top: -0.5em;
      margin-bottom: 2rem;
    }
  }

  .mailchimp {
    margin-top: 4rem;

    @media screen and (min-width: $laptop) {
      margin-top: 3rem;
    }

    .optional {
      @media screen and (min-width: $laptop) and (max-height: 850px) {
        display: none;
      }
    }

    p:not(.caption) {
      margin-bottom: 1rem;
    }

    .beep-boop {
      margin-bottom: 0.25em;
      color: var(--accent-02);
      // background: linear-gradient(
      //   140deg,
      //   var(--orangered),
      //   var(--green) 25%,
      //   var(--blue) 50%,
      //   var(--peach) 75%,
      //   var(--orangered)
      // );
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      animation: color-change 20s ease-in-out infinite;
    }
  }

  .bot {
    @media screen and (min-width: $big-tablet) {
      display: flex;
      justify-content: space-between;
      padding: 0 !important;
    }
  }

  .scca-on-the-net {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    @media screen and (min-width: $big-tablet) {
      justify-content: flex-start;
      padding: 2rem;
    }

    li {
      @media screen and (min-width: $big-tablet) {
        margin-right: 1rem;
      }
    }
  }

  .scca-on-the-net .logo-emblem {
    margin-top: 0.25em;

    @media screen and (min-width: $big-tablet) {
      display: none;
    }
  }

  .hide-me {
    display: none;

    @media screen and (min-width: $big-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid var(--white);
    }

    .logo-emblem {
      margin: 0 1.75rem;
      width: 4rem;
      // transform: scale(2.25);
    }
  }

  a {
    color: var(--white);
  }
}
